body {
    background-color: ghostwhite;
    font-family: Helvetica;
    color: #250a08;
}

.header-bar {
    background-color: #FFBF00;
}

.btn-group {
    float: right;
}

.header-btn {
    float: right;
    background-color: #FFBF00;
    font-family: Helvetica;
    font-size: 25px;
    color: #250a08;
}

.btn {
    background-color: #FFBF00;
    color: #250a08;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #FFBF00;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    }

.sidebar-title {
    margin-left: 23px;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    display: block;
    transition: 0.3s;
    color: #250a08;
}

.sidebar a:hover {
    color: saddlebrown;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #FFBF00;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover {
    background-color: #FFBF00;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
}